body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

h1 {
    margin: 0;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 1em;
}

legend {
    font-weight: bold;
}

input {
    font-size: 1em;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}

input:required {
    border: 1px solid black;
}

input:optional {
    border: 1px solid silver;
}

input:focus {
    border-color: #000;
}

input+span {
    position: relative;
}

input+span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

input:invalid {
    border: 2px solid red;
}

input:invalid+span::before {
    content: '✖';
    color: red;
}

input:valid+span::before {
    content: '✓';
    color: green;
}

.button {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

button {
    margin-left: .5em;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(to bottom, #eee, #ccc);
}

button:hover {
    background: linear-gradient(to bottom, #fff, #ddd);
}